
<div>
      <form name = "locationForm">
        <input placeholder="Country" name="country" id="country" class="form-control" required [(ngModel)]="location.country" #country="ngModel"/>
        <input placeholder="City"name="city" id ="city" class="form-control" required [(ngModel)]="location.city" #city="ngModel"/>
        <button type="submit" (click)="getForecast()" [disabled]="country.errors?.required || city.errors?.required">Get Weather Forecast</button>
      </form>
  </div>

  <div *ngIf="country.errors?.required && country.touched"> Please Enter Country
  </div>

  <div *ngIf="city.errors?.required && city.touched"> Please Enter City 
  </div>


  <h2>Weather</h2>
<div><span>Sunrise: </span>{{forecast.Sunrise}}</div>
<div><span>Sunset: </span>{{forecast.Sunset}}</div>
<div><span>Temperature: </span>{{forecast.Temperature}}</div>
<div><span>Real Feel: </span>{{forecast.RealFeel}}</div>
<div><span>Humidity: </span>{{forecast.Humidity}}</div>
<div><span>UV Index: </span>{{forecast.UvIndex}}</div>
<div><span>Wind Speed: </span>{{forecast.WindSpeed}}</div>
